body {
    background-color: #F5F5F5;
}

button {
    border: none;
    cursor: pointer;
    width: 8em;
    height: 3em;
    margin-bottom: 2em;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  3px 3px 7px #d9d9d9,
                -3px -3px 7px #ffffff;
}

button:hover {
    background: #d9d9d9;
}

.heading {
    padding-left: 2em;
    padding-top: 0.4em;
    margin-bottom: -0.5em;
}

.container {
    display: flex;
}

.menu-container {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
}

.grid-container {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    height: 30em;
    width: 30em;
    justify-content: space-evenly;

    border-radius: 0px;
    background: #ffffff;
    box-shadow:  35px 35px 70px #d9d9d9,
                -35px -35px 70px #ffffff;
}

.grid-item {
    margin: 0;
    width: 0;
    height: 0;
    flex-grow: 1;
    background-color: white;
}

.grid-item-active {
    background-color: black;
}