.heading {
    padding-left: 2em;
}

.container {
    display: flex;
}

.menu-container {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    background-color: azure;
}

.grid-container {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-wrap: wrap;
    height: 34em;
    width: 34em;
    justify-content: space-evenly;
}

.grid-item {
    outline: 0.1em solid;
    margin: 0;
    width: 0;
    height: 0;
    flex-grow: 1;
    background-color: white;
}

.grid-item-active {
    background-color: black;
}